---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -hicpp-no-array-decay,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
  - key: cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage
    value: true
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'string_view'
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
  - key: bugprone-argument-comment.StrictMode
    value: true
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;-1;8;10;16;100;1000'
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: '0.0;1.0;100.0;1000.0'
  - key: readability-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;-1;8;10;16;100;1000'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues
    value: '0.0;1.0;100.0;1000.0'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues
    value: true
...
